{
  "singleQuote": true,
  "printWidth": 180,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "semi": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
