::ng-deep .mat-expansion-indicator {
  display: none;
}

.mat-mdc-dialog-actions {
  padding: 1rem 0 !important;
}

.mat-mdc-dialog-content {
  padding: 0;
}

.custom-header-accordion {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  h6 {
    font-weight: 500;
    font-size: 0.875rem;

    span {
      font-size: 0.875rem;
      color: #707271;
    }
  }

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
  }

  .rotated {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
  }
}
